@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@*<h2 class="text-center mb-3 p-4 alert-info rounded shadow">Create A New Account</h2>*@


<style>
    h1 {
        position: relative;
        font-size: 4rem;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #FFD700;
        text-shadow: 2px 2px #FF4500;
    }
</style>



<div style="background-color: rgba(252, 254, 253, 0.5); min-height:100vh;">

    <div class="d-flex justify-content-center">
        <h1 class="text-center" data-text="Signup...">Signup..</h1>
    </div>

    <div class="row">
        <div class="col-8 m-auto">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">


                <div asp-validation-summary="All" class="text-danger">
                </div>


                <div class="input-group p-1 col-12 text-center">

                    <input asp-for="Input.FName" class="form-control shadow" placeholder="Your Name" />
                    <span asp-validation-for="Input.FName" class="text-danger"></span>
                </div>

                <div class="input-group p-1 col-12 text-center">

                    <input asp-for="Input.UserName" class="form-control shadow" placeholder="username" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>


                <div class="input-group p-1 col-12 text-center">

                    <input asp-for="Input.Email" class="form-control shadow" placeholder="Your Email Address" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>


                <div class="input-group p-1 col-12 text-center">

                    <input asp-for="Input.Password" class="form-control shadow" placeholder="Make A Strong Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="input-group p-1 col-12 text-center">

                    <input asp-for="Input.ConfirmPassword" class="form-control shadow" placeholder="Confirm Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="input-group p-1 col-12 text-center">
                    <button type="submit" class="btn btn-primary shadow-lg mt-3 col-6">Register</button>
                </div>
            </form>
        </div>

       
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>


